@model IEnumerable<MVC.Models.PhieuXuat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhieuXuatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhieuXuatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhieuXuatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
